$primary-black: #323232;
$primary-silver:#afafaf;
$primary-grey:#e1e1e1;
$primary-white:#ffffff;
$primary-offwhite:#fafafa;
$brain-bright:#0095FF;
$brain-light:#0065AD;
$brain-mid:#004892;
$brain-dark:#002F5F;