$primary-black: #323232;
$primary-silver:#afafaf;
$primary-grey:#e1e1e1;
$primary-white:#ffffff;
$primary-offwhite:#fafafa;
$brain-bright:#0095FF;
$brain-light:#0065AD;
$brain-mid:#004892;
$brain-dark:#002F5F;

$padding-standard:0.5rem;
$padding-leveltwo:1rem;

$middle: center;
$start:flex-start;
$rows:row;
$apart:space-evenly;
$around:space-around;
$none:0;
$full-length:100%;
$boxed:border-box;

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;