$primary-black: #323232;
$primary-silver:#afafaf;
$primary-grey:#e1e1e1;
$primary-white:#ffffff;
$primary-offwhite:#fafafa;
$brain-bright:#0095FF;
$brain-light:#0065AD;
$brain-mid:#004892;
$brain-dark:#002F5F;
$controls:rgba(0, 0, 0, 0.4);

$small-font:0.75rem;
$normal-font:1.2rem;
$medium-font:1rem;
$none:0;
$thumbnail-font:0.9rem;


$medium:"avenir-medium";
$light:"avenir-light";
$bold:"avenir-bold";

$padding-standard:0.5rem;
$padding-leveltwo:1rem;
$padding-small:0.25rem;
$icon-padding:0 0.5rem;

$middle: center;
$start:flex-start;
$rows:row;
$apart:space-evenly;
$around:space-around;
$between:space-between;
$none:0;
$full-length:100%;
$boxed:border-box;

$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;